{% extends 'layout.html' %}

{% block title %}
    Save Select
{% endblock %}

{% block main %}
<table class="table table-hover table-bordered table-striped">
    <tr>
        <td class="title">Player ID</td>
        <td class="title">Player Name</td>
        <td class="title">Player Number</td>
        <td class="title">Save Id</td>
        <td class="title">Save Number</td>
        <td class="title">User ID</td>
        <td class="title">Username</td>
    </tr>
    {% for player in players %}
        <tr>
            <td>{{ player.id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.number }}</td>
            <td>{{ player.saves.id }}</td>
            <td>{{ player.saves.number }}</td>
            <td>{{ player.saves.users.id }}</td>
            <td>{{ player.saves.users.username }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}