{% extends 'layout.html' %}

{% block title %}
    Save Select
{% endblock %}

{% block main %}
<table class="table table-hover table-bordered table-striped">
    <tr>
        <td class="title">Save ID</td>
        <td class="title">User ID</td>
        <td class="title">Save Number</td>
        <td class="title">Players</td>
        <td class="title">Ruleset</td>
        <td class="title">Route Tracking</td>
        <td class="title">Delete</td>
    </tr>
    {% for save in saves %}
        <tr>
            <td>Save Id: {{ save.id }}</td>
            <td>Save User: {{ save.user_id }}</td>
            <td>Save Number: {{ save.number }}</td>
            <td>{% for player in save.players %}
                Player {{ player.player_num }}: {{ player.name }}<br>
            {% endfor %}</td>
            <td>{{ save.ruleset }}</td>
            <td>{{ save.route_tracking }}</td>
            <td><a href="{{ url_for('admin.admin_delete_save', save_id=save.id) }}" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}