{% extends 'layout.html' %}

{% block title %}
    Admin Pokedex Fusion
{% endblock %}

{% block main %}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST" action="{{ url_for('admin.admin_pokedex') }}">
        {{ speciesform.hidden_tag() }}
        {{ speciesform.species.label(class="form-label") }}
        {{ speciesform.species(class="form-control", placeholder="Species Name") }}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <form method="POST" action="{{ url_for('admin.admin_pokedex') }}">
        {{ numberform.hidden_tag() }}
        {{ numberform.number.label(class="form-label") }}
        {{ numberform.number(class="form-control", placeholder="Pokedex Number") }}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<table class="table table-hover table-bordered table-striped">
    <tr>
        <td class="Title">ID</td>
        <td class="Title">Pokedex Number</td>
        <td class="Title">Species</td>
        <td class="Title">Base ID 1</td>
        <td class="Title">Base ID 2</td>
        <td class="Title">Primary Type</td>
        <td class="Title">Secondary Type</td>
        <td class="Title">Family #</td>
        <td class="Title">Family Order</td>
        <td class="Title">Variants</td>
    </tr> 
    {% for pokemon in search_results %}
        <tr>
            <td>{{ pokemon.id }} </td>
            <td>{{ pokemon.number }} </td>
            <td>{{ pokemon.species }}</td>
            <td>{{ pokemon.base_id_1 }}</td>
            <td>{{ pokemon.base_id_2 }}</td>
            <td>{{ pokemon.type_primary }}</td>
            <td>{{ pokemon.type_secondary }}</td>
            <td>{{ pokemon.family }}</td>
            <td>{{ pokemon.family_order }}</td>
            <td>{{ pokemon.variants }}</td>
        </tr>  
    {% endfor %}
</table>

{% endblock %}