db_backups/
venv/
__pycache__/
create_db.py
.env
old_scripts.py
tasks.txt
migrations/
myproject/blueprints/main/static/images/sprites/
pokedex_stuff/if-pokedex.csv
pokedex_stuff/dna_sprites.txt
pokedex_stuff/pokedex.txt
pokedex_stuff/sprite-credits.csv
pokedex_stuff/temp-sprite-credits.csv
pokedex_stuff/move-stats.py
pokedex_stuff/temp-stats.csv
update_pokedex_test.py
sprites_to_upload/
test/
locations.txt
rulesets.txt
bugs_list.txt

privacy_policy.txt
about.txt



