{% extends 'layout.html' %}

{% block title %}
    Session Select
{% endblock %}

{% block main %}
<table class="table table-hover table-bordered table-striped">
    <tr>
        <td class="title">User ID</td>
        <td class="title">Username</td>
        <td class="title">Saves</td>
        <td class="title">Current Save (number)</td>
        <td class="title">Hash</td>
        <td class="title">Last Login</td>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}. </td>
            <td>{{ user.username }}</td>
            <td>{{ user.saves }}</td>
            <td>{{ user.current_save().slot }}</td>
            <td>{{ user.hash }}</td>
            <td>{{ user.last_login }}</td>
            <td><a href="{{ url_for('auth.delete_user',id=user.id) }}">Delete</a></td>
        </tr>
    {% endfor %}       
</table>
{% endblock %}