{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block header %}
  About
{% endblock %}

{% block main %}
Infinite Fusion Soul Manager (IFSM) is an open-source online companion app for the fan-made Pokemon game Pokemon: Infinite Fusion. 
Its purpose is to help players manage Pokemon caught during a Soullink Nuzlocke playthrough of the game. 
You can of course utilize the app outside of a Soullink Nuzlocke playthrough, but many of the systems in place are tailor made specifically for Soullink Nuzlockes.
Think of this app as a more advanced and easier to comprehend spreadsheet.
However, unlike a spreadsheet, user-inputed Pokemon into the app can be easily evolved and fused and you can even preview sprites using all different pokemon that you have caught. 
Because pokemon can be fused in Pokemon: Infinite Fusion, depending on how many pokemon a player has caught, there can be hundreds of different combinations of fusions available to a player at any given time.
This means that during a Soullink Nuzlocke playthrough, there are many times where players need to deliberate back and forth on which fusion combination helps both parties the best.
I've found that sometimes these 'delibrations' can go on for 20 to 30 minutes as each player needs to go through their box, see what fusions they have available and what fusions their partner has available.
Generally this means both players share their screen on Discord or some sort of spreadsheet is maintained throughout the run. 
However, by utilizing this companion app, hopefully players are able to spend less time deliberating and/or maintaining a spreadsheet and more time actually playing the game.
{% endblock %}


