<option value="6"> Bond Bridge</option>
<option value="1">Azalea Town</option>
<option value="2">Bell Tower</option>
<option value="3">Berry Forest</option>
<option value="4">Birth Island</option>
<option value="5">Blackthorn City</option>
<option value="7">Boon Island</option>
<option value="8">Brine Road (East)</option>
<option value="9">Brine Road (West)</option>
<option value="10">Burned Tower</option>
<option value="11">Celadon City</option>
<option value="12">Celadon City Black Market</option>
<option value="13">Celadon Sewers</option>
<option value="14">Cerulean Cape</option>
<option value="15">Cerulean Cave</option>
<option value="16">Cerulean City</option>
<option value="17">Cherrygrove City</option>
<option value="18">Chrono Island</option>
<option value="19">Cinnabar Island</option>
<option value="20">Creepy House</option>
<option value="21">Crimson City</option>
<option value="22">Dark Cave</option>
<option value="23">Deep Sea </option>
<option value="24">Diglett's Cave</option>
<option value="25">Ecruteak City</option>
<option value="26">Fuchsia City</option>
<option value="27">Goldenrod City</option>
<option value="28">Hidden Forest</option>
<option value="29">Ice Mountains</option>
<option value="30">Ice Mountains Peak</option>
<option value="31">Ilex Forest</option>
<option value="32">Indigo Plateau</option>
<option value="33">Joyful Game Corner</option>
<option value="34">Kin Island</option>
<option value="35">Kindle Road</option>
<option value="36">Knot Island</option>
<option value="37">Lake of Rage</option>
<option value="38">Lavendar Town</option>
<option value="39">Mahogany Town</option>
<option value="40">Mt. Ember</option>
<option value="41">Mt. Moon</option>
<option value="42">Mt. Moon Square</option>
<option value="43">Mt. Mortar</option>
<option value="44">Mt. Silver</option>
<option value="46">Mt. Silver Summit</option>
<option value="45">Mt. Silver base</option>
<option value="47">National Park</option>
<option value="48">Navel Rock</option>
<option value="49">New Bark Town</option>
<option value="50">Offshore Road</option>
<option value="51">Old Shipwreck</option>
<option value="52">P2 Laboratory</option>
<option value="53">Pallet Town</option>
<option value="54">Pewter City</option>
<option value="55">Pokemon League Gate</option>
<option value="56">Pokemon Mansion</option>
<option value="57">Pokemon Tower</option>
<option value="58">Power Plant</option>
<option value="59">Resort Gorgeous</option>
<option value="60">Rock Tunnel</option>
<option value="61">Rocket Warehouse</option>
<option value="62">Route 1</option>
<option value="71">Route 10</option>
<option value="72">Route 11</option>
<option value="73">Route 12</option>
<option value="74">Route 13</option>
<option value="75">Route 14</option>
<option value="76">Route 15</option>
<option value="77">Route 16</option>
<option value="78">Route 17</option>
<option value="79">Route 18</option>
<option value="80">Route 19</option>
<option value="63">Route 2</option>
<option value="81">Route 20</option>
<option value="82">Route 21</option>
<option value="83">Route 22</option>
<option value="84">Route 23</option>
<option value="85">Route 24</option>
<option value="86">Route 25</option>
<option value="87">Route 26</option>
<option value="88">Route 27</option>
<option value="89">Route 29</option>
<option value="64">Route 3</option>
<option value="90">Route 30</option>
<option value="91">Route 31</option>
<option value="92">Route 32</option>
<option value="93">Route 33</option>
<option value="94">Route 34</option>
<option value="95">Route 35</option>
<option value="96">Route 36</option>
<option value="97">Route 37</option>
<option value="65">Route 4</option>
<option value="98">Route 42</option>
<option value="99">Route 43</option>
<option value="100">Route 44</option>
<option value="101">Route 46</option>
<option value="66">Route 5</option>
<option value="67">Route 6</option>
<option value="68">Route 7</option>
<option value="69">Route 8</option>
<option value="70">Route 9</option>
<option value="102">Ruby Chamber</option>
<option value="103">Ruins of Alph</option>
<option value="104">S.S. Anne</option>
<option value="105">Safari Zone</option>
<option value="106">Safari Zone (Area 1)</option>
<option value="107">Safari Zone (Area 2)</option>
<option value="108">Safari Zone (Area 3)</option>
<option value="109">Safari Zone (Area 4)</option>
<option value="110">Safari Zone (Area 5)</option>
<option value="111">Safari Zone Temple</option>
<option value="112">Saffron City</option>
<option value="113">Sapphire Cave</option>
<option value="114">Seafoam Islands</option>
<option value="115">Secret Garden</option>
<option value="116">Sevii Islands</option>
<option value="117">Silph Co. Head Office</option>
<option value="118">Sky Pillar</option>
<option value="119">Submerged Temple</option>
<option value="120">Tohjo Falls</option>
<option value="121">Treasure Beach</option>
<option value="122">Triple Battle Lounge</option>
<option value="123">Underground Paths</option>
<option value="124">Union Cave</option>
<option value="125">Vermillion City</option>
<option value="126">Victory Road</option>
<option value="127">Violet City</option>
<option value="128">Viridian City</option>
<option value="129">Viridian Forest</option>
<option value="130">Viridian River</option>
<option value="131">Water Labyrinth</option>
