{% extends 'layout.html' %}

{% block title %}
    Save {{ save_num }}
{% endblock %}

{% block header %}
    Save {{ save.number }} Manager - Ruleset {{ save.ruleset }}
{% endblock %}

{% block main %}
<div class="accordion" id="accordionExample">
  <!-- Add Pokemon Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h3>Add Pokemon To Save</h3>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
      <div class="accordion-body">
        <form action="{{ url_for('pokemon.add_pokemon')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% for player in save.players %}
            <input name="{{ player.number }}" list="pokedex" class="form-control" placeholder="{{ player.name }}'s new pokemon" autocomplete="off" tabindex="1" style="max-width:300px">
          {% endfor %}
          {% if save.route_tracking %}
            <select class="form-select" name="route" id="RouteSelect" tabindex="2" aria-label="Default select example">
              <option disabled selected>Select Route...</option>
              {% include 'route_list.html' %}
            </select>
          {% endif %}
          <div class="input-group-append">
            <button class="btn btn-secondary" tabindex="3">Add Pokemon</button>
          </div>
        </form>
        <form action="{{ url_for('pokemon.add_random') }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="btn btn-primary" tabindex="3">Add Random Pokemon</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Fusion Pokemon Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h3>Fuse Pokemon</h3>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
      <div class="accordion-body">
        <form action="{{ url_for('pokemon.fuse_pokemon')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% for player in save.players %}
            <div>
              <h3>{{ player.name }}</h3>
              {% for part in ["Head", "Body"] %}
                <select class="form-select" aria-label="Default select example" name="{{ part }}_{{ player.number }}" id="fuse_{{ part }}" onchange="fuse_options()">
                  <option selected disabled>Fusion: {{ part }}</option>
                  {% for pokemon in player.pokemons %}
                    {% if not pokemon.head %}
                      <option value="{{ pokemon.link_id }}">{{ pokemon.info.species }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% endfor %}
            </div>
          {% endfor %}
          <button class="btn btn-primary">Fuse Pokemon</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Party Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h3>Party</h3>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
      <div class="accordion-body container-fluid">
        <div class="row">
          {% for player in save.players %}
          <div class="col-lg-{{ column_widths['player_column'] }}">
            <h2 style="text-align:center">{{ player.name }}</h2>
            {% for mon in player.pokemons|sort(attribute='link_id')|sort(reverse=true, attribute='linked') if mon.position == "party" %}
              <div class="row shadow p-1 mb-1 bg-body-tertiary">
                <!-- Pokemon Name and Typing -->
                <h4 style="text-align: center; margin-bottom: 0px;">
                  {{ mon.info.species }}
                    {% if mon.info.body %}
                    - ({{ mon.info.head.species }} + {{ mon.info.body.species }})
                    {% endif %}
                </h4>
                <h5 style="text-align: center; margin-bottom: 10px;">
                  {{ mon.info.type_primary }}
                    {% if mon.info.type_secondary %}
                      / {{ mon.info.type_secondary }}
                    {% endif %}
                </h5>
                <!-- Pokemon Forms and Sprite -->
                <div class="row align-items-center">
                  <!-- Pokemon Forms Side -->
                  <div class="col-md-6">
                    <!-- Evolution -->
                    <form action="{{ url_for('pokemon.evolve_pokemon', player_num=player.number, link_id=mon.link_id) }}" method="post" style="margin-bottom:8px;">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <div class="input-group mb-1">
                        <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="evolve_{{ player.number }}_{{ mon.link_id }}">
                          <option selected disabled>Evolve to...</option>
                          {% for evo in mon.info.evolutions() %}
                            {% if evo.number != mon.info.number %}
                              <option value="{{ evo.number }}">{{ evo.split_names() }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <button class="btn btn-secondary" type="submit">Evolve</button>
                      </div>
                    </form> 
                    <!-- Send to Box -->
                    <form action="{{ url_for('pokemon.switch_box', link_id=mon.link_id) }}" method="post" style="margin-bottom:8px;">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <div class="input-group mb-1">
                        <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="switch_with">
                          <option selected disabled>Switch with Box...</option>
                          <option value="addbox">Send to Box</option>
                          {% for pokemon in player.pokemons %}
                            {% if pokemon.position == "box" %}
                              <option value="{{ pokemon.link_id }}">{{ pokemon.info.species }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <button class="btn btn-secondary" type="submit">Send</button>
                      </div>
                    </form>
                    <!-- Change Variant -->
                    <form action="{{ url_for('pokemon.change_variant', player_num=player.number, link_id=mon.link_id) }}" method="post" style="margin-bottom:8px">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <div class="input-group mb-1">
                        <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="variant_select">
                          <option selected disabled>Sprite Variants</option>
                          {% for sprite in mon.info.sprites %}
                            {% if sprite.variant_let == '' %}
                              <option value="default">Default</option>
                            {% else %}
                              <option value="{{ sprite.variant_let }}">{{ sprite.variant_let.upper() }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <button class="btn btn-secondary" type="submit">Switch</button>
                      </div>
                    </form>
                    {% if save.ruleset == 1 %}
                      <div><!-- Link -->
                        {% if mon.linked %} 
                          <form action="{{ url_for('pokemon.unlink_pokemon', player_num=player.number, link_id=mon.link_id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit">Unlink</button>
                          </form>
                        {% else %}
                        <form action="{{ url_for('pokemon.link_pokemon', link_id_1=mon.link_id) }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <select name="link_with">
                            <option selected disabled>Link with ...</option>
                            {% for other_players in save.players %}
                              {% if other_players.id != player.id %}
                                {% for other_pokemon in other_players.pokemon %}
                                  {% if other_pokemon.link_id != mon.link_id %}
                                    <option value="{{ other_pokemon.link_id }}">{{ other_pokemon.info.species }}</option>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </select>
                          <button type="submit">Link</button>
                        </form>
                        {% endif %}
                      </div>
                    {% endif %}
                    <!-- Oops -->
                    <form action="{{ url_for('pokemon.switch_dead', link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <button type="button submit" class="btn btn-danger">Faint</button>
                    </form>
                    {% if not mon.info.body %}
                      <!-- Preview Fusions -->
                      <form action="{{ url_for('main.preview_fusions', player_num=player.number, link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="button submit" class="btn btn-info">Preview Fusions</button>
                      </form>
                    {% else %}
                      <!-- Swap Fusion -->
                      <form action="{{ url_for('pokemon.swap_fusion', player_num=player.number, link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="button submit" class="btn btn-primary">Swap Fusion</button>
                      </form>
                    {% endif %}
                  </div>
                  <!-- Variant Form and Sprite Info -->
                  <div class="col-md-6">
                    {% if not mon.sprite %}
                      <div><img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ mon.info.head.number ~ '/' ~ mon.info.number ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150"></div>
                      artists: japeal
                    {% else %}
                      <div><img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ mon.sprite.sprite_group() ~ '/' ~ mon.sprite.sprite_code() ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150"></div>
                      artist: {{ mon.sprite.artists.name }}
                    {% endif %}
                  </div>
                </div>
                <a style="text-align: center;" target="_blank" rel="noopener noreferrer" href="https://if.daena.me/{{ mon.pokedex_number }}/">More info on FusionDex</a>
              </div>
            {% endfor %}  
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Box Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <h3>Box</h3>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
      <div class="accordion-body container-fluid">
        <div class="row">
          {% for player in save.players %}
            <div class="col-md-{{ column_widths['player_column'] }}">
              <h2 style="text-align:center">{{ player.name }}</h2>
              {% for mon in player.pokemons|sort(attribute='link_id')|sort(reverse=true, attribute='linked') %}
                {% if mon.position == "box" %}
                  <div class="row shadow p-1 mb-1 bg-body-tertiary">
                    <!-- Pokemon Name and Typing -->
                    <h4 style="text-align: center; margin-bottom: 0px;">
                      {{ mon.info.species }}
                        {% if mon.info.body %}
                        - ({{ mon.info.head.species }} + {{ mon.info.body.species }})
                        {% endif %}
                    </h4>
                    <h5 style="text-align: center; margin-bottom: 10px;">
                      {{ mon.info.type_primary }}
                        {% if mon.info.type_secondary %}
                          / {{ mon.info.type_secondary }}
                        {% endif %}
                    </h5>
                    <!-- Left Side -->
                    <div class="col-md-6">
                      <!-- Evolution -->
                      <form action="{{ url_for('pokemon.evolve_pokemon', player_num=player.number, link_id=mon.link_id) }}" method="post" style="margin-bottom:8px;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="input-group mb-1">
                          <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="evolve_{{ player.number }}_{{ mon.link_id }}">
                            <option selected disabled>Evolve to...</option>
                            {% for evo in mon.info.evolutions() %}
                              {% if evo.number != mon.info.number %}
                                <option value="{{ evo.number }}">{{ evo.split_names() }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <button class="btn btn-secondary" type="submit">Evolve</button>
                        </div>
                      </form> 
                      <!-- Add to Party -->
                      <form action="{{ url_for('pokemon.switch_party', link_id=mon.link_id) }}" method="post" style="margin-bottom:8px;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="input-group mb-1">
                          <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="switch_with">
                            <option selected disabled>Switch with Party...</option>
                            {% if party_length < 6 %}
                              <option value="addparty">Add to Party</option>
                            {% endif %}
                            {% for pokemon in player.pokemons %}
                              {% if pokemon.position == "party" %}
                                <option value="{{ pokemon.link_id }}">{{ pokemon.info.species }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <button class="btn btn-secondary" type="submit">To Party</button>
                        </div>
                      </form>
                      <!-- Change Variant -->
                      <form action="{{ url_for('pokemon.change_variant', player_num=player.number, link_id=mon.link_id) }}" method="post" style="margin-bottom:8px">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="input-group mb-1">
                          <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="variant_select">
                            <option selected disabled>Sprite Variants</option>
                            {% for sprite in mon.info.sprites %}
                              {% if sprite.variant_let == '' %}
                                <option value="default">Default</option>
                              {% else %}
                                <option value="{{ sprite.variant_let }}">{{ sprite.variant_let.upper() }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <button class="btn btn-secondary" type="submit">Switch</button>
                        </div>
                      </form><!-- Link -->
                      {% if save.ruleset == 1 %}
                        {% if mon.linked %} 
                          <form action="{{ url_for('pokemon.unlink_pokemon', player_num=player.number, link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="button submit" class="btn btn-secondary">Unlink</button>
                          </form>
                        {% else %}
                          <form action="{{ url_for('pokemon.link_pokemon', link_id_1=mon.link_id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="input-group mb-1">
                              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="link_with">
                                <option selected disabled>Link with ...</option>
                                {% for other_players in save.players %}
                                  {% if other_players.id != player.id %}
                                    {% for other_pokemon in other_players.pokemon %}
                                      {% if other_pokemon.link_id != mon.link_id %}
                                        <option value="{{ other_pokemon.link_id }}">{{ other_pokemon.info.species }}</option>
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              </select>
                              <button class="btn btn-secondary" type="submit">Link</button>
                            </div>
                          </form>
                        {% endif %}
                      {% endif %}
                      <!-- Oops -->
                      <form action="{{ url_for('pokemon.switch_dead', link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="button submit" class="btn btn-danger">Faint</button>
                      </form>
                      {% if not mon.info.base_id_2 %}
                        <!-- Preview Fusions -->
                        <form action="{{ url_for('main.preview_fusions', player_num=player.number, link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="button submit" class="btn btn-info">Preview Fusions</button>
                        </form>
                      {% else %}
                        <!-- Swap Fusion -->
                        <form action="{{ url_for('pokemon.swap_fusion', player_num=player.number, link_id=mon.link_id) }}" method="post" style="display: inline-block;">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="button submit" class="btn btn-primary">Swap Fusion</button>
                        </form>
                      {% endif %}
                    </div>
                    <!-- Right Side -->
                    <!-- Sprite -->
                    <div class="col-md-6">
                      {% if not mon.sprite %}
                        <div><img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ mon.info.head.number ~ '/' ~ mon.info.number ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150"></div>
                        artists: japeal
                      {% else %}
                        <div><img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ mon.sprite.sprite_group() ~ '/' ~ mon.sprite.sprite_code() ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150"></div>
                        artist: {{ mon.sprite.artists.name }}
                      {% endif %}
                    </div>
                    <a style="text-align: center;" target ="_blank" rel="noopener noreferrer" href="https://if.daena.me/{{ mon.pokedex_number }}/">More info on FusionDex</a>
                  </div>
                {% endif %}
              {% endfor %}  
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Graveyard Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <h3>Graveyard</h3>
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
      <div class="accordion-body container-fluid">
        <div class="row shadow p-1 mb-1 bg-body-tertiary">
          {% for player in save.players %}
            <div class="col-lg-{{ column_widths['player_column'] }}">
              <h2 style="text-align:center">{{ player.name }}</h2>
              {% for mon in player.pokemons %}
                {% if mon.position == "dead" %}
                  <div class="row">
                    <h4 style="text-align: center;">
                      {{ mon.info.species }}
                        {% if mon.info.body %}
                        - ({{ mon.info.head.species }} + {{ mon.info.body.species }})
                        {% endif %}
                    </h4>
                    <h5 style="text-align: center;">
                      {{ mon.info.type_primary }}
                        {% if mon.info.type_secondary %}
                          / {{ mon.info.type_secondary }}
                        {% endif %}
                    </h5>
                    <!-- Left Side -->
                    <div class="col-md-6">
                      <!-- Revive -->
                      <form action="{{ url_for('pokemon.switch_revive', link_id=mon.link_id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="button submit" class="btn btn-success">Revive</button>
                      </form>
                      <!-- Delete -->
                      <div>
                        <form action="{{ url_for('pokemon.delete_pokemon', link_id=mon.link_id) }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Pokemon from this save?')">Delete</button>
                        </form>
                      </div>
                    </div>
                    <!-- Right Side -->
                    <!-- Sprite -->
                    <div class="col-md-6">
                      <div>
                        <img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ mon.info.base_id_1 ~ '/' ~ mon.sprite ~ '.nosprite') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150">
                      </div>
                      <!-- <div>
                        artist: {{ mon.sprite.artists }}
                      </div> -->
                    </div>
                  </div>
                {% endif %}
              {% endfor %}  
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% include 'pokemon_list.html' %}