{% extends 'layout.html' %}

{% block title %}
    Save Select
{% endblock %}

{% block header %}
    Select Save
{% endblock %}

{% block main %}
<div>
  {% for save in saves %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
      <h2>Save {{ save.save_number }} / Ruleset {{ save.ruleset }}</h2>
      <br>
      {% for player in save.players %}
        <div class="shadow bg-body-tertiary rounded">
          <h4>{{ player.player_name }}'s Party</h4>
          {% for pokemon in player.pokemon_caught %}
            {% if pokemon.position == "party" %}
              {% if not pokemon.sprite %}
                <div><img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ pokemon.pokedex_info.head_pokemon.pokedex_number ~ '/' ~ pokemon.pokedex_info.pokedex_number ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150"></div>
                artists: japeal
              {% else %}
                <div><img class="mx-auto d-block" src="{{ url_for('main.static', filename='images/sprites/' ~ pokemon.sprite.sprite_group() ~ '/' ~ pokemon.sprite.sprite_code() ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150"></div>
                artist: {{ pokemon.sprite.artists.name }}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <br>
      {% endfor %}
      <div>
        <form action="{{ url_for('main.select_save')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="btn btn-primary" name="save_number" value="{{ save.save_number }}">Select</button>
        </form>
        <!-- <a href="{{ url_for('main.delete_save', save_number=save.number) }}" class="btn btn-danger">Delete</a> -->
        <form action="{{ url_for('main.delete_save')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this save?')" name="save_to_delete" value="{{ save.save_number }}">Delete</button>
        </form>
      </div>
    </div>
    
    <br/><br/>
  {% endfor %}
</div>
    
{% endblock %}