{% extends 'layout.html' %}

{% block title %}
    Session {{ session_num }}
{% endblock %}

{% block header %}
    Session Manager
{% endblock %}

{% block main %}
<!-- Add Pokemon and Fusion Section -->
<div class="container-fluid">
    <div class="row">
        <!-- Add Pokemon to Session -->
        <div class="col-md-4">
            <h2>Caught new Pokemon</h2>
            <form action="{{ url_for('pokemon.add_pokemon')}}" method="post">
                {% for player in session.players %}
                    <input name="{{ player.number }}" list="pokedex" class="form-control" placeholder="{{ player.name }}'s new pokemon" autocomplete="off" tabindex="1" style="max-width:300px">
                {% endfor %}
                <button class="btn btn-primary" tabindex="2">Add Pokemon to Session</button>
            </form>
        </div>
        <!-- Fuse Pokemon -->
        <div class="col-md-8 text-center">
            <h2>Fusion</h2>
            <form action="{{ url_for('pokemon.fuse_pokemon')}}" method="post">
                <div class="row">
                    {% for player in session.players %}
                        <div class="col-md-6">
                            <h3>{{ player.name }}</h3>
                            {% for part in ["Head", "Body"] %}
                                <div>
                                    <select type="text" name="{{ part }}_{{ player.number }}" id="fuse_{{ part }}" onchange="fuse_options()">
                                        <option selected disabled>Fusion: {{ part }}</option>
                                        <!-- Adds party pokemon to dropdown -->
                                        {% for pokemon in player.pokemon %}
                                            {% if not "." in pokemon.info.number %}
                                                <option value="{{ pokemon.link_id }}">{{ pokemon.info.species }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button class="btn btn-primary">Fuse Pokemon</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Party and Box Pokemon Section -->
<div class="container-fluid">
    <div class="row"> 
        <!-- Party Column -->
        <div class="col-lg-6">
            <h2 style="text-align:center">Party</h2>
            <div class="row">
                {% for player, player_evo_list in zip(session.players, full_evolution_list) %}
                    <!-- Player Column -->
                    <div class="col-lg-6">
                        <h2 style="text-align:center">{{ player.name }}</h2>
                        {% for mon, evo_list in zip(player.pokemon, player_evo_list) %}
                            <div class="row">
                                {% if mon.position == "party" %}
                                    <!-- Left Side -->
                                    <div class="col-md-6">
                                        <div style="text-align:center">{{ mon.info.species }} - {{ mon.pokedex_number }}</div>
                                        <!-- Type -->
                                        <div>
                                            {{ mon.info.type_primary }}
                                            {% if mon.info.type_secondary %}
                                                    / {{ mon.info.type_secondary }}
                                            {% endif %}
                                        </div>
                                        <!-- Evolution -->
                                        <div>
                                            <form action="{{ url_for('pokemon.evolve_pokemon', player_num=player.number, link_id=mon.link_id) }}" method="post">
                                                <select name="evolve_{{ player.number }}_{{ mon.link_id }}">
                                                    <option selected disabled>Evolve to...</option>
                                                    {% for evo in evo_list %}
                                                        <option value="{{ evo['number'] }}">{{ evo['names'] }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit" name="evolve">Evolve</button>
                                            </form> 
                                        </div>
                                        <!-- Send to Box -->
                                        <div>
                                            <form action="{{ url_for('pokemon.switch_box', link_id=mon.link_id) }}" method="post">
                                                <select name="switch_with">
                                                    <option selected disabled>Switch with ...</option>
                                                    <option value="addbox">Send to Box</option>
                                                    {% for pokemon in player.pokemon %}
                                                        {% if pokemon.position == "box" %}
                                                            <option value="{{ pokemon.link_id }}">{{ pokemon.info.species }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <button type="submit">Send to Box</button>
                                            </form>
                                        </div>
                                        <!-- Oops -->
                                        <div>
                                            <form action="{{ url_for('pokemon.switch_dead', link_id=mon.link_id) }}" method="post">
                                                <button type="submit">Oops</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Right Side -->
                                    <!-- Sprite -->
                                    <div class="col-md-6">
                                        <div>
                                            <img src="{{ url_for('main.static', filename='images/sprites/' ~ mon.info.base_id_1 ~ '/' ~ mon.sprite ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150">
                                        </div>
                                        <div>artist: {{ mon.artist.artist }}</div>
                                        <div>
                                            <form action="{{ url_for('pokemon.change_variant', player_num=player.number, link_id=mon.link_id) }}" method="post">
                                                <select name="variant_select">
                                                    <option selected disabled>Change Variant</option>
                                                    {% for variant in mon.info.variants %}
                                                        {% if variant == '-' %}
                                                            <option value="default">Default</option>
                                                        {% else %}
                                                            <option value="{{ variant }}">{{ variant }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <button type="submit">Change</button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}  
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Box Column -->
        <div class="col-md-6" style="max-width:800px">
            <h2 style="text-align:center">Box</h2>
            <div class="row">
                {% for player, player_evo_list in zip(session.players, full_evolution_list) %}
                    <!-- Player Column -->
                    <div class="col-md-6" style="max-width:400px">
                        <h2 style="text-align:center">{{ player.name }}</h2>
                        {% for mon, evo_list in zip(player.pokemon, player_evo_list) %}
                            <div class="row">
                                {% if mon.position == "box" %}
                                    <!-- Left Side -->
                                    <div class="col-md-6" style="max-width:200px">
                                        <div>{{ mon.info.species }} - {{ mon.pokedex_number }}</div>
                                        <!-- Type -->
                                        <div>
                                            {{ mon.info.type_primary }}
                                            {% if mon.info.type_secondary %}
                                                    / {{ mon.info.type_secondary }}
                                            {% endif %}
                                        </div>
                                        <!-- Evolution -->
                                        <div>
                                            <form action="{{ url_for('pokemon.evolve_pokemon', player_num=player.number, link_id=mon.link_id) }}" method="post">
                                                <select name="evolve_{{ player.number }}_{{ mon.link_id }}">
                                                    <option selected disabled>Evolve to...</option>
                                                    {% for evo in evo_list %}
                                                        <option value="{{ evo['number'] }}">{{ evo['names'] }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit" name="evolve">Evolve</button>
                                            </form> 
                                        </div>
                                        <!-- Add to Party -->
                                        <div>
                                            <form action="{{ url_for('pokemon.switch_party', link_id=mon.link_id) }}" method="post">
                                                <select name="switch_with">
                                                    <option selected disabled>Switch with ...</option>
                                                    {% if party_length < 6 %}
                                                        <option value="addparty">Add to Party</option>
                                                    {% endif %}
                                                    {% for pokemon in player.pokemon %}
                                                        {% if pokemon.position == "party" %}
                                                            <option value="{{ pokemon.link_id }}">{{ pokemon.info.species }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <button type="submit">Add to Party</button>
                                            </form>
                                        </div>
                                        <!-- Oops -->
                                        <div>
                                            <form action="{{ url_for('pokemon.switch_dead', link_id=mon.link_id) }}" method="post">
                                                <button type="submit">Oops</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Right Side -->
                                    <!-- Sprite -->
                                    <div class="col-md-6">
                                        <div>
                                            <img src="{{ url_for('main.static', filename='images/sprites/' ~ mon.info.base_id_1 ~ '/' ~ mon.sprite ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150">
                                        </div>
                                        <div>artist: {{ mon.artist.artist }}</div>
                                        <div>
                                            <form action="{{ url_for('pokemon.change_variant', player_num=player.number, link_id=mon.link_id) }}" method="post">
                                                <select name="variant_select">
                                                    <option selected disabled>Change Variant</option>
                                                    {% for variant in mon.info.variants %}
                                                        {% if variant == '-' %}
                                                            <option value="default">Default</option>
                                                        {% else %}
                                                            <option value="{{ variant }}">{{ variant }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <button type="submit">Change</button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Dead Pokemon -->
<div class="container-fluid">
    <div class="row"> 
        <!-- Party Column -->
        <div class="col-lg-6">
            <h2 style="text-align:center">Graveyard</h2>
            <div class="row">
                {% for player, player_evo_list in zip(session.players, full_evolution_list) %}
                    <!-- Player Column -->
                    <div class="col-lg-6">
                        <h2 style="text-align:center">{{ player.name }}</h2>
                        {% for mon, evo_list in zip(player.pokemon, player_evo_list) %}
                            <div class="row">
                                {% if mon.position == "dead" %}
                                    <!-- Left Side -->
                                    <div class="col-md-6">
                                        <div style="text-align:center">{{ mon.info.species }} - {{ mon.pokedex_number }}</div>
                                        <!-- Type -->
                                        <div>
                                            {{ mon.info.type_primary }}
                                            {% if mon.info.type_secondary %}
                                                    / {{ mon.info.type_secondary }}
                                            {% endif %}
                                        </div>
                                        <!-- Resurrect -->
                                        <div>
                                            <form action="{{ url_for('pokemon.switch_revive', link_id=mon.link_id) }}" method="post">
                                                <button type="submit">Resurrect</button>
                                            </form>
                                        </div>
                                        <!-- Delete -->
                                        <div>
                                            <form action="{{ url_for('pokemon.delete_pokemon', link_id=mon.link_id) }}" method="post">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Right Side -->
                                    <!-- Sprite -->
                                    <div class="col-md-6">
                                        <div>
                                            <img src="{{ url_for('main.static', filename='images/sprites/' ~ mon.info.base_id_1 ~ '/' ~ mon.sprite ~ '.png') }}" onerror="this.onerror=null; this.src='/main/static/images/sprites/default/default.png'" width="150" height="150">
                                        </div>
                                        <div>artist: {{ mon.artist.artist }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include 'pokemon_list.html' %}