<option value="Azalea Town">Azalea Town</option>
<option value="Bell Tower"></option>
<option value="Berry Forest"></option>
<option value="Birth Island"></option>
<option value="Blackthorn City"></option>
<option value="Bond Bridge"></option>
<option value="Boon Island"></option>
<option value="Brine Road (East)"></option>
<option value="Brine Road (West)"></option>
<option value="Burned Tower"></option>
<option value="Celadon City"></option>
<option value="Celadon City Black Market"></option>
<option value="Celadon Sewers"></option>
<option value="Cerulean Cape"></option>
<option value="Cerulean Cave"></option>
<option value="Cerulean City"></option>
<option value="Cherrygrove City"></option>
<option value="Chrono Island"></option>
<option value="Cinnabar Island"></option>
<option value="Creepy House"></option>
<option value="Crimson City"></option>
<option value="Dark Cave"></option>
<option value="Deep Sea"></option>
<option value="Diglett's Cave"></option>
<option value="Ecruteak City"></option>
<option value="Fuchsia City"></option>
<option value="Goldenrod City"></option>
<option value="Hidden Forest"></option>
<option value="Ice Mountains"></option>
<option value="Ice Mountains Peak"></option>
<option value="Ilex Forest"></option>
<option value="Indigo Plateau"></option>
<option value="Joyful Game Corner"></option>
<option value="Kin Island"></option>
<option value="Kindle Road"></option>
<option value="Knot Island"></option>
<option value="Lake of Rage"></option>
<option value="Lavendar Town"></option>
<option value="Mahogany Town"></option>
<option value="Mt. Ember"></option>
<option value="Mt. Moon"></option>
<option value="Mt. Moon Square"></option>
<option value="Mt. Mortar"></option>
<option value="Mt. Silver"></option>
<option value="Mt. Silver base"></option>
<option value="Mt. Silver Summit"></option>
<option value="National Park"></option>
<option value="Navel Rock"></option>
<option value="New Bark Town"></option>
<option value="Offshore Road"></option>
<option value="Old Shipwreck"></option>
<option value="P2 Laboratory"></option>
<option value="Pallet Town"></option>
<option value="Pewter City"></option>
<option value="Pokemon League Gate"></option>
<option value="Pokemon Mansion"></option>
<option value="Pokemon Tower"></option>
<option value="Power Plant"></option>
<option value="Resort Gorgeous"></option>
<option value="Rock Tunnel"></option>
<option value="Rocket Warehouse"></option>
<option value="Route 1"></option>
<option value="Route 2 B.VF (Before the Viridian Forest)"></option>
<option value="Route 2 A.VF (After the Viridian Forest)"></option>
<option value="Route 3"></option>
<option value="Route 4"></option>
<option value="Route 5"></option>
<option value="Route 6"></option>
<option value="Route 7"></option>
<option value="Route 8"></option>
<option value="Route 9"></option>
<option value="Route 10 B.RT (Before Rock Tunnel)"></option>
<option value="Route 10 A.RT (After Rock Tunnel)"></option>
<option value="Route 11"></option>
<option value="Route 12"></option>
<option value="Route 13"></option>
<option value="Route 14"></option>
<option value="Route 15"></option>
<option value="Route 16"></option>
<option value="Route 17"></option>
<option value="Route 18"></option>
<option value="Route 19"></option>
<option value="Route 20"></option>
<option value="Route 21"></option>
<option value="Route 22"></option>
<option value="Route 23"></option>
<option value="Route 24"></option>
<option value="Route 25"></option>
<option value="Route 26"></option>
<option value="Route 27"></option>
<option value="Route 29"></option>
<option value="Route 30"></option>
<option value="Route 31"></option>
<option value="Route 32"></option>
<option value="Route 33"></option>
<option value="Route 34"></option>
<option value="Route 35"></option>
<option value="Route 36"></option>
<option value="Route 37"></option>
<option value="Route 42"></option>
<option value="Route 43"></option>
<option value="Route 44"></option>
<option value="Route 46"></option>
<option value="Ruby Chamber"></option>
<option value="Ruins of Alph"></option>
<option value="S.S. Anne"></option>
<option value="Safari Zone"></option>
<option value="Safari Zone (Area 1)"></option>
<option value="Safari Zone (Area 2)"></option>
<option value="Safari Zone (Area 3)"></option>
<option value="Safari Zone (Area 4)"></option>
<option value="Safari Zone (Area 5)"></option>
<option value="Safari Zone Temple"></option>
<option value="Saffron City"></option>
<option value="Sapphire Cave"></option>
<option value="Seafoam Islands"></option>
<option value="Secret Garden"></option>
<option value="Sevii Islands"></option>
<option value="Silph Co. Head Office"></option>
<option value="Sky Pillar"></option>
<option value="Submerged Temple"></option>
<option value="Tohjo Falls"></option>
<option value="Treasure Beach"></option>
<option value="Triple Battle Lounge"></option>
<option value="Underground Paths"></option>
<option value="Union Cave"></option>
<option value="Vermillion City"></option>
<option value="Victory Road"></option>
<option value="Violet City"></option>
<option value="Viridian City"></option>
<option value="Viridian Forest"></option>
<option value="Viridian River"></option>
<option value="Water Labyrinth"></option>